// *************************************
//
//   Card
//   -> Individual style containers
//
// *************************************

.card
  background: $c-white
  margin-bottom: ($b-space * 2)
  position: relative

// -------------------------------------
//   Modifiers
// -------------------------------------

.card.card--blog
  +respond-to($g-s)
    height: 27rem
  a
    color: $c-blog
    &:hover,
    &:focus
      color: lighten($c-blog, 5%)

.card.card--categories
  height: auto
  padding: $b-space * 1.25
  +respond-to($g-s)
    padding: $b-space * 2
  a
    color: $c-blog
    &:hover,
    &:focus
      color: lighten($c-blog, 5%)
  h4
    border-bottom: 2px solid $c-gray-1
    color: $c-gray-4
    margin-bottom: $b-space
    padding-bottom: $b-space
  ul
    list-style: none
    padding-left: 0

.card.card--full
  +respond-to($g-s)
    height: 27rem
  .card-content
    +respond-to($g-m)
      left: 60%
  .card-image
    +respond-to($g-m)
      width: 50%

.card.card--guides
  +respond-to($g-s)
    height: 27rem
  a
    color: $c-guide
    &:hover,
    &:focus
      color: lighten($c-guide, 5%)

.card.card--step
  padding: $b-space * 1.5
  +respond-to($g-s)
    padding: $b-space * 2.25
  +respond-to($g-m)
    padding: $b-space * 3
  .card-content
    left: auto
    font-size: 75%
    margin-bottom: $b-space * 1.5
    padding: 0
    position: relative
    right: 0
    transform: translateY(0)
    +respond-to($g-s)
      font-size: 85%
    +respond-to($g-m)
      float: left
      font-size: 100%
      margin-bottom: 0
      padding-right: $b-space * 2
      width: 65%

// -------------------------------------
//   Scaffolding
// -------------------------------------

.card-content
  padding: 2rem 2.5rem
  +respond-to($g-s)
    left: 40%
    padding: 0
    position: absolute
    right: 15%
    top: 50%
    transform: translateY(-50%)
  +respond-to($g-m)
    left: 36%

.card-image
  background: $c-gray-2
  background-position: center
  background-size: cover
  height: 10rem
  width: 100%
  +respond-to($g-s)
    bottom: 0
    height: auto
    left: 0
    position: absolute
    top: 0
    width: 25%
  +respond-to($g-m)
    width: 20%
