// *************************************
//
//   Card
//   -> Individual style containers
//
// *************************************

.card
  background: $c-white
  margin-bottom: ($b-space * 2)
  position: relative
  +respond-to($g-s)
    height: 25rem

// -------------------------------------
//   Modifiers
// -------------------------------------

.card.card--full
  .card-content
    +respond-to($g-m)
      left: 60%
  .card-image
    +respond-to($g-m)
      width: 50%

.card.card--guides
  a
    color: $c-yellow
    &:hover,
    &:focus
      color: lighten($c-yellow, 5%)
  h4 a
    color: $c-black
    &:hover,
    &:focus
      color: lighten($c-black, 15%)

.card.card--stories
  a
    color: $c-teal
    &:hover,
    &:focus
      color: lighten($c-teal, 5%)
  h4 a
    color: $c-black
    &:hover,
    &:focus
      color: lighten($c-black, 15%)

// -------------------------------------
//   Scaffolding
// -------------------------------------

.card-content
  padding: 2rem 2.5rem
  +respond-to($g-s)
    left: 35%
    padding: 0
    position: absolute
    right: 10%
    top: 50%
    transform: translateY(-50%)
  +respond-to($g-m)
    left: 32%

.card-image
  background: $c-gray-2
  background-position: center
  background-size: cover
  height: 10rem
  width: 100%
  +respond-to($g-s)
    bottom: 0
    height: auto
    left: 0
    position: absolute
    top: 0
    width: 25%
  +respond-to($g-m)
    width: 20%
