// *************************************
//
//   Guide
//   -> Guide intro and articles
//
// *************************************

.guide
  padding-bottom: ($b-space * 3)
  padding-top: ($b-space * 3)
  max-width: $b-maxWidth
  position: relative
  h1, h2, h3, h4, h5, h6
    margin: 0
    padding: $b-space 0
  h1
    font-size: 225%
  h2
    font-size: 175%
  h3
    font-size: 125%
  h4, h5, h6
    font-size: 100%

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------
