// *************************************
//
//   Hero
//   -> Large images w/ content on top
//
// *************************************

.hero
  background: $c-gray-4
  background-image: url(image_path("placeholder.jpg"))
  background-position: center
  background-size: cover
  position: relative

// -------------------------------------
//   Modifiers
// -------------------------------------

.hero--home
  height: 100vh

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

#hero-mountains
  bottom: 0
  left: 0
  position: absolute
  right: 0
  width: 100%
