// *************************************
//
//   Mountains
//   -> Animated svg polygons
//
// *************************************

.mountains
  bottom: 0
  height: 200px
  left: 0
  position: absolute
  right: 0
  width: 100%
  z-index: 1

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.mountains-clear
  fill: rgba($c-gray-1, 0.5)

.mountains-opaque
  fill: $c-gray-1

.mountains-transparent
  fill: rgba($c-gray-1, 0.75)
