// *************************************
//
//   Navigation
//   -> Logo and global links
//
// *************************************

.navigation
  border-bottom: 2px solid $c-gray-2
  height: 6rem
  margin-bottom: $b-space * 2.5
  position: relative
  z-index: 10
  +respond-to($g-s)
    height: 8rem
  +respond-to($g-m)
    height: 10rem

// -------------------------------------
//   Modifiers
// -------------------------------------

.navigation
  .index &
    border-bottom: none
    .navigation-links a
      +respond-to($g-m)
        color: $c-gray-1
    .navigation-logo
      background-image: url(image_path("logo-white.svg"))
  .row--a &
    border-color: $c-gray-1

// -------------------------------------
//   States
// -------------------------------------

.navigation.is-active
  .navigation-links
    display: block
  .navigation-overlay
    display: block
    +respond-to($g-m)
      display: none

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.navigation-links
  animation: fadeIn 500ms $b-transition
  display: none
  left: 0
  margin: auto
  max-width: 15em
  position: fixed
  right: 0
  text-align: center
  top: 50%
  transform: translateY(-50%)
  z-index: 15
  +respond-to($g-m)
    animation: none
    bottom: auto
    display: block
    left: auto
    max-width: 100%
    position: absolute
    right: 0
  a
    display: block
    +respond-to($g-m)
      display: inline-block
  a:not(.btn)
    color: $c-gray-4
    font-family: $b-fontFamily-heading
    font-size: 150%
    font-style: normal
    letter-spacing: 0.125rem
    margin-bottom: $b-space
    text-transform: uppercase
    +respond-to($g-m)
      font-size: 100%
      margin: 0 ($b-space * 0.75)
    &:hover,
    &:focus
      color: $c-next
    &:last-child
      border-top: 2px solid $c-gray-2
      color: lighten($c-gray-3, 10%)
      font-size: 100%
      margin-top: $b-space * 1.25
      padding-top: $b-space
      +respond-to($g-m)
        display: none
  a.btn
    +respond-to($g-m)
      margin-left: $b-space

.navigation-logo
  background: transparent url(image_path("logo-gray.svg")) no-repeat
  background-position: center center
  background-size: 100%
  display: block
  height: 2.75rem * 0.75
  left: 0
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 20rem * 0.75
  +respond-to($g-s)
    height: 2.75rem
    width: 20rem
  &:hover,
  &:focus
    opacity: 0.8

#navigation-mobile
  color: $c-gray-4
  display: block
  font-size: 2em
  font-style: normal
  position: absolute
  right: 0
  top: 50%
  transform: translateY(-50%)
  .index &
    color: $c-gray-1
  +respond-to($g-m)
    display: none

.navigation-overlay
  animation: fadeIn 500ms $b-transition
  background: rgba($c-gray-1, 0.98)
  bottom: 0
  display: none
  left: 0
  opacity: 1
  position: fixed
  right: 0
  top: 0
