// *************************************
//
//   Rule
//   -> Horizontal rule
//
// *************************************

.rule
  border: none
  border-top: 2px solid $c-gray-2
  margin: ($b-space * 0.75) 0
  width: 100%

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-scaffolding
