%footer.footer
  .cell.well.well--l
    = link_to "", "/index.html", class: "footer-logo"
    %nav.footer-links
      = link_to "Blog", "/blog/index.html"
      = link_to "Guides", "/guides/index.html"
      = link_to "Join the Movement", "/join.html", class: "btn"
    %hr.rule.rule--footer
    .footer-copyright &copy; 2015 The Distributed Church. All Rights Reserved.
    .footer-contact
      For more information, feel free to <a href="mailto:?">replace email</a>.
