.navigation
  = link_to "", "/", class: "navigation-logo"
  %nav.navigation-links
    = link_to "Blog", "/blog/index.html"
    = link_to "Guides", "/guides/index.html"
    = link_to "Join the Movement", "#", class: "btn"
