// *************************************
//
//   Card
//   -> Individual style containers
//
// *************************************

.card
  background: $c-white
  height: 25rem
  margin-bottom: $b-space
  position: relative

// -------------------------------------
//   Scaffolding
// -------------------------------------

.card-content
  left: 15rem
  position: absolute
  right: 7rem
  top: 50%
  transform: translateY(-50%)

.card-image
  background: $c-gray-2
  background-position: center
  background-size: cover
  bottom: 0
  left: 0
  position: absolute
  top: 0
  width: 9rem
